* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-attachment: fixed;
}

[class*="name"]{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color:white;
}
.name-h{
    font-size: 1.3rem;
  
}
.contenedor-presentacion {
  position: absolute;
  top: 170px;
  width: 100%;
  height: auto;
}

.presentacion {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 575px) {
    .name-h{
        font-size: 1rem;
    }
    .contenedor-presentacion{
        position: absolute;
        top: 80px;
    }
  .presentacion h2 {
    font-size: medium;
  }
  .presentacion p {
    font-size: small;
  }

  .ft-perfil {
    width: 120px;
  }
}
@media (min-width: 576px) {
    .name-h{
        font-size: 1.6rem;  
           
    }
    .presentacion h2 {
      font-size: large;
    }
    .presentacion p {
      font-size: medium;
    }
  
    .ft-perfil {
      width: 170px;
    }
  }
@media (min-width: 992px){
    .name-h{
        line-height: 50px; 
    }
    .presentacion h2 {
      font-size: x-large;
    }
    .presentacion p {
      font-size: large;
    }
  
    .ft-perfil {
      width: 200px;
    }

}

.link {
  color: white;
  border-radius: 10px;
}
.link:hover {
  color: rgb(199, 199, 199);
}
.link:active {
  font-size: 0.95rem;
}
.link:focus {
  color: black;
  background-color: #e5e7e9;
}

/*
****************BACKGROUNDS******************
*/

.bg-header {
  background-color: #00131a;
}
