* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
} 
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Titillium Web', sans-serif;
}

#perfil-photo{
  width: 40%;
}


#tech{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
  text-align: center;
}

.technology{ 
  margin-top: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.technology:hover{ 
  background-color:#F2F3F4;
}

.tech-icon{
  font-size: 3rem;
  margin-right: 7px;
}
.tech-icon:hover{
  transform: scale(1.3);
}

textarea{
  max-height: 250px;
  min-height: 250px;
}

@media (max-width:575px){
  #perfil-photo{
    width: 60%;
  }
}

@media (min-width:576px) and (max-width:767px){
  

}
@media (min-width:768px) and (max-width:991px){
  

}

@media (min-width:992px){
 

}
/**********************************************************
              BACKGROUND

**********************************************************/
.bg-gray-10{background-color: #F8F9F9;}
.bg-gray-20{background-color: #F2F3F4 ;}
.bg-gray-30{background-color: #E5E7E9 ;}
.bg-gray-40{background-color: #D7DBDD ;}
.bg-gray-50{background-color: #CACFD2 ;}
.bg-gray-60{background-color: #BDC3C7;}
.bg-gray-70{background-color: #A6ACAF;}
.bg-gray-80{background-color: #909497 ;}
.bg-gray-90{background-color: #797D7F;}
.bg-gray-100{background-color: #626567;}

.bg-footer{background-color: #34495e;}

/**********************************************************
              FONT-SIZE

**********************************************************/
@media screen and (max-width: 575px) {
  .fs-xs-1{font-size: 2em;}
  .fs-xs-2{font-size: 1.8em;}
  .fs-xs-3{font-size: 1.6em;}
  .fs-xs-4{font-size: 1.4em;}
  .fs-xs-5{font-size: 1.2em;}
  .fs-xs-6{font-size: 1em;}
}

@media screen and (min-width: 576px) {
  .fs-sm-1{font-size: 2em;}
  .fs-sm-2{font-size: 1.8em;}
  .fs-sm-3{font-size: 1.6em;}
  .fs-sm-4{font-size: 1.4em;}
  .fs-sm-5{font-size: 1.2em;}
  .fs-sm-6{font-size: 1em;}
}

@media screen and (min-width: 768px) {
  .fs-md-1{font-size: 2em;}
  .fs-md-2{font-size: 1.8em;}
  .fs-md-3{font-size: 1.6em;}
  .fs-md-4{font-size: 1.4em;}
  .fs-md-5{font-size: 1.2em;}
  .fs-md-6{font-size: 1em;}
}

@media screen and (min-width: 992px) {
  .fs-lg-1{font-size: 2em;}
  .fs-lg-2{font-size: 1.8em;}
  .fs-lg-3{font-size: 1.6em;}
  .fs-lg-4{font-size: 1.4em;}
  .fs-lg-5{font-size: 1.2em;}
  .fs-lg-6{font-size: 1em;}
}

@media screen and (min-width: 1200px) {
  .fs-xl-1{font-size: 2em;}
  .fs-xl-2{font-size: 1.8em;}
  .fs-xl-3{font-size: 1.6em;}
  .fs-xl-4{font-size: 1.4em;}
  .fs-xl-5{font-size: 1.2em;}
  .fs-xl-6{font-size: 1em;}
}



.medias{
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  color:#85929e;
  text-decoration: none;
}
.medias a{
  color:#85929e;
  margin: 10px;
}
.medias i:hover{
  transform: scale(1.2);
  color: white;
}













.tarjeta{
  min-height: 200px;
  max-height: 200px;
  display: flex;
  justify-content: center;

  overflow: hidden;
}
.tarjeta-content{
  background-color: white;
  display: flex;
  flex-direction: column;

  width: 60%;
  height: 200px;

  position: relative;
}
.tarjeta-name{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #0051BD;
  height: 30px;
}
.tarjeta-description{
  text-align: center;
  font-size: .9rem;
  padding:0 5px;
  height: 140px;
}
.tarjeta-button{
  background-image: linear-gradient(to right, #00ADE2, #0051BD);
  
  width: 115%;
  padding: 3px;
  font-size: .8rem;
  text-align: center;
  color: white;

  position: absolute;
  left: 0;
  bottom: 10px;
}
.tarjeta-button:hover{
  text-decoration: none;
  color: white;
  transform: scale(1.1);
}
.tarjeta-part-blue{
  background-image: radial-gradient(farthest-corner at 100% 0%, #0051BD, #00ADE2);;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
